@import "tailwindcss";

/*@custom-variant dark (&:is(.dark *));*/
@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable.woff2") format("woff2-variations");
  font-display: swap;
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --logo: url("/images/logo.jpg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --logo: url("/images/dark-logo.jpg");
  }
}

@theme {
  --color-accent: var(--color-green-500);
  --background-logo: var(--logo);
}

body {
  font-family: "Inter";
  height: 100dvh;
}
